<div class="p-5 bg-light rounded text-center">
    <h6>Login via</h6>
    <div class="d-flex mx-0 my-4">
            <div class="flex-even text-center bg-info rounded text-white mr-1">Github</div>
            <div class="flex-even text-center bg-info rounded text-white ml-1">Google</div>
    </div>
    
    <h6 class="mb-4">OR</h6>

    <div class="row">
        <div class="col-md-12 px-0">
            <%= bootstrap_form_for @user, url: login_path do |f| %>
                <%= f.email_field :email, label_as_placeholder: true, required: true %>
                <%= f.password_field :password, label_as_placeholder: true, required: true %>
                <div class="form-actions text-center border-bottom pb-3">
                    <%= f.submit 'Submit', class: 'btn btn-light btn-small text-info py-0 form-control-sm' %>
                </div>
            <% end %>
            <%= link_to 'Register', new_user_path, class: "btn btn-light btn-small text-info py-0 form-control-sm mt-2" %>
        </div>
    </div>
</div>

<style>
    .flex-even{
        flex: 1;
    }
</style>