<div class="p-5 bg-light rounded text-center">
    <h6>Create a new user!</h6>

    <div class="row">
        <div class="col-md-12 px-0">
            <%= bootstrap_form_for @user do |f| %>
                <%= f.text_field :name, label_as_placeholder: true, required: true %>
                <%= f.email_field :email, label_as_placeholder: true, required: true %>
                <%= f.email_field :email_confirmation, label_as_placeholder: true, required: true %>
                <%= f.password_field :password, label_as_placeholder: true, required: true %>
                <%= f.password_field :password_confirmation, label_as_placeholder: true, required: true %>
                <div class="form-actions text-center">
                    <%= f.submit 'Submit', class: 'btn btn-light btn-small text-info py-0 form-control-sm' %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<style>
    .flex-even{
        flex: 1;
    }
</style>