<div>
    <h3 class="border"><%= @post.title %></h3>
    <p><%= @post.description %></p>
    <ul>
        <% @post.categories.each do |c| %>
            <li><%= c.name%></li>
        <% end %>
    </ul>
</div>

<h4>Comments</h4>
<ul>
    <% @post.comments.each do |c| %>
        <li><%= c.description %> - <%= c.user.name %></li>
    <% end %>
</ul>