<div class="container border mb-5">
    <div class="row border-bottom">
        <%= display_vote_tag(@post, @vote, @current_user) %>
        <div class="col-md-11">
            <div class="border-bottom p-2 small">
                <%= @post.title %>
            </div>
            <div class="p-2 text-muted small">
                <%= @post.description %>
            </div>
        </div>
    </div>
    <div class="row p-2 border-bottom small">
        <p class="p-0 m-0">By <span class="text-info"><%= link_to @post.user.display_formatted_name, user_path(@post.user.url_encoded_name) %></span></p>
    </div>
    <div class="row">
        <div class="col-md-12 px-0">
            <%= form_for(@comment) do |f| %>
                <div class="input-group align-items-center">
                    <%= f.hidden_field :post_id, value: @post.id %>
                    <%= f.text_field :description, class: 'form-control border-none py-0 form-control-sm', placeholder: 'Comment...' %>
                    <%= f.submit 'Submit', class: 'btn btn-transparent btn-small text-info py-0 form-control-sm' %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div id="comment-container">
    <p>Comments</p>
    <% @post.comments.each do |c| %>
        <div class="card mb-1">
            <div class="card-body py-2 px-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="small mb-1 text-info"><%= link_to c.user.display_formatted_name, user_path(c.user.url_encoded_name) %></p>
                            <p class="card-text small"><%= c.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div> 

<style>
input[type="text"], input:focus {
        border: none !important;
        overflow: auto;
        outline: none !important;

        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;

        resize: none; /*remove the resize handle on the bottom right*/

        font-size: 12.8px !important;
    }
</style>