<div class="container border">
    <div class="row border-bottom">
        <div class="col-md-1 border-right"></div>
        <div class="col-md-11">
            <div class="border-bottom p-2 small">
                <%= @post.title %>
            </div>
            <div class="p-2 text-muted small">
                <%= @post.description %>
            </div>
        </div>
    </div>
    <div class="row p-2 border-bottom small">
        <p class="p-0 m-0">By <span class="text-info"><%= @post.user.name %></span></p>
    </div>
    <div class="row">
        <div class="col-md-12 px-0">
            <form action="" accept-charset="UTF-8" method="get">
                <div class="input-group align-items-center">
                    <input type="text" name="search" id="search" placeholder="Comment.." class="form-control border-none py-0 form-control-sm">
                    <span class="input-group-btn">
                        <input type="submit" name="commit" value="Submit" class="btn btn-transparent btn-small text-info py-0 form-control-sm" data-disable-with="Search">
                    </span> 
                </div>
            </form>
        </div>
    </div>
</div>





<div id="comment-container">
    <% @post.comments.each do |c| %>
        <div class="card">
            <div class="card-body py-2 px-0">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-1 border-right">
                            <div class="row">
                                <div class="col-md-12 align-items-center text-center"><%= content_tag(:span, nil, class: 'fas fa-angle-up') %></div>
                                <div class="col-md-12 justify-content-center text-center"><%= content_tag(:span, nil, class: 'fas fa-angle-down') %></div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <h6 class="card-title small mb-1"><span class="text-info"><%= c.user.name %></span> - X votes - Date</h6>
                            <p class="card-text"><%= c.description %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div> 

<style>
input, input:focus {
    border: none !important;
    overflow: auto;
    outline: none !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    resize: none; /*remove the resize handle on the bottom right*/

    font-size: 12.8px !important;
}
</style>