<!DOCTYPE html>
<html>
  <head>
    <title>Sidetrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "bootstrap.min" %>
    <%= stylesheet_link_tag "application" %>
    <script src="https://kit.fontawesome.com/47144c595f.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <header id="header" class="container bg-info mb-2">
      <div class='row'>
        <div class="col d-flex align-items-center text-white">
          <i class="fas fa-lg fa-dog pr-2"></i>
          <h3 class="m-0">
            <%= content_tag(:a, 'Sidetrack', href: root_path, style: "text-decoration:none; color: inherit", class: 'text-black') %>
          </h3>
        </div>
      </div>
    </header>

    <section class="container">
      <div id="main" class="row justify-content-center align-items-center">
        <div class="col-md-4 pt-5">
          <%= yield %>
        </div>
      </div>
    </section>
  </body>
</html>